body {
    text-align: center;
}


.campus_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.achive_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.acive_head i {
    float: right;
}

.achive_text span {
    color: #ff7700;
}



